{{#if links}}
  <ul class="pagination">
    {{#first}}
      <li class="first"><a href="?page=1">First</a></li>
    {{/first}}

    {{#each links}}
      {{#if inside_window}}
        <li class="{{#current}}current{{/current}}"><a href="?page={{ i }}">{{ label }}</a></li>
      {{ else }}
        <li>...</li>
      {{/if}}
    {{/each}}

    {{#last}}
      <li class="last"><a href="?page={{i}}">Last</a></li>
    {{/last}}
  </ul>
{{/if}}
