<!DOCTYPE html>
<html>
<head>
    <title>hook-platform</title>
    <meta charset="utf-8" />
</head>
<body>
    <header>
      header...
    </header>

    <ul>
      {{#items}}
        {{> partial/item}}
      {{/items}}
    </ul>

    <footer>
      footer...
    </footer>
</body>
</html>
