    <!-- jQuery Version 1.11.0 -->
    {{ javascript "assets/admin/js/jquery-1.11.0.js" }}

    <!-- Bootstrap Core JavaScript -->
    {{ javascript "assets/admin/js/bootstrap.min.js" }}

    <!-- Metis Menu Plugin JavaScript -->
    {{ javascript "assets/admin/js/plugins/metisMenu/metisMenu.min.js" }}

    <!-- <!&#45;&#45; Morris Charts JavaScript &#45;&#45;> -->
    <!-- <script src="/assets/admin/js/plugins/morris/raphael.min.js"></script> -->
    <!-- <script src="/assets/admin/js/plugins/morris/morris.min.js"></script> -->
    <!-- <script src="/assets/admin/js/plugins/morris/morris&#45;data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    {{ javascript "assets/admin/js/sb-admin-2.js" }}
</body>
</html>
